sentence-transformers==2.2.2
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
unstructured
requests
tqdm
accelerate
sentence-transformers
spacy
python-3.10.12
nltk
spacy==3.6.1
thinc==8.1.12

-e .