sentence-transformers==2.2.2
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
unstructured
requests
tqdm
accelerate
sentence-transformers
spacy
nltk
thinc==8.1.12
pinecone-plugin-inference


-e .